<% cache source do %>
<tr>
  <td class="v-align-middle">
    <%= link_to source do %>
    <%= image_tag source.thumbnail, width: 100 %>
    <% end %>
  </td>
  <td>
    <h4 class="no-margin">
      <%= link_to source.name, source, class: 'text-black' %>
    </h4>
  </td>
  <td>
  <p><%= source.excerpt %>
  </td>
  <td>
    <dl>
      <dt>Last Updated</dt>
      <dd><%= source.last_updated %></dd>
      <dt>Kind</dt>
      <dd><%= source.kind %></dd>
    </dl>
  </td>
</tr>
<% end %>
