<tr>
  <td class="v-align-middle">
    <%= link_to person do %>
      <%= image_tag person.thumbnail, width: 100 %>
    <% end %>
  </td>
  <td>
    <h4 class="no-margin">
      <%= link_to person.name, person, class: 'text-black' %>
    </h4>
  </td>
  <td>
    <p><%= person.excerpt %>
    </td>
    <td>
      <dl>
        <dt>Last Updated</dt>
        <dd><%= person.last_updated %></dd>
      </dl>
    </td>
  </tr>
