<%= render  partial: 'shared/show',
            locals: {
              namespace: 'People',
              object: @person
            }
%>
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <div class="row">

    <div class="col-md-7">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Event History</div>
        </div>
        <div class="panel-body">

          <div class="panel panel-group panel-transparent ownership-history-panel" data-toggle="collapse" id="accordion">

            <% @person.events.each do |event| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#<%= event.uuid %>">
                      <div class="row">
                        <div class="col-sm-2" style="width:10%"><strong><%= event.year %></strong></div>
                        <div class="col-sm-10"><%= event.history_name %></div>
                      </div>
                    </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id="<%= event.uuid %>">
                  <div class="panel-body">
                    <p class="small hint-text"><%= event.name %></p>
                    <p><%= event.description %></p>
                    <p class="pull-right small"><%= link_to 'See event', event %></p>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>


    <div class="col-md-5">
      <div class="panel">
        <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
          <li class="active">
            <a href="#details" data-toggle="tab" role="tab">Details</a>
          </li>
          <li>
            <a href="#affiliations" data-toggle="tab" role="tab">Affiliations</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="details">
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td style="width:30%;padding:12px;" class="v-align-middle bold">Nationality</td>
                    <td style="width:70%;padding:12px;" class="v-align-middle"><%= @person.nationality %></td>
                  </tr>
                  <tr>
                    <td style="padding:12px;" class="v-align-middle bold">Gender</td>
                    <td style="padding:12px;" class="v-align-middle"><%= @person.gender %></td>
                  </tr>
                  <tr>
                    <td style="padding:12px;" class="v-align-middle bold">Date of Birth</td>
                    <td style="padding:12px;" class="v-align-middle"><%= @person.date_of_birth %></td>
                  </tr>
                  <tr>
                    <td style="padding:12px;" class="v-align-middle bold">Date of Death</td>
                    <td style="padding:12px;" class="v-align-middle"><%= @person.date_of_death %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane " id="affiliations">
            <div class="table-responsive">
              <% unless @person.affiliations.empty? %>
                <table class="table table-borderless table-condensed">
                  <tbody>
                    <% @person.affiliations.each do |aff| %>
                      <tr>
                        <td style="width:30%;" class="v-align-middle bold"><%= aff.year %></td>
                        <td style="width:70%;" class="v-align-middle"><%= link_to aff.place.name, aff, class: 'text-master' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p><em>No known affiliations.</em></p>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->


<div class="container-fluid container-fixed-lg bg-white">
  <div class="row p-t-15">

    <div class="col-md-6">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Citations</div>
        </div>
        <div class="panel-body">
          <ol>
            <li class="small hint-text">
              (Multiple Authors), “HERZFELD, ERNST” Encyclopædia Iranica, XII/3, pp. 290-302; available online at http://www.iranicaonline.org/articles/herzfeld-ernst (accessed online at 28 December 2014).
            </li>
            <li class="small hint-text">
              (Multiple Authors), "AN ACHAEMENID STONE RELIEF FRAGMENT | FIRST HALF OF 5TH CENTURY B.C., PERSEPOLIS." Christie's; online at http://www.christies.com/lotfinder/ancient-art-antiquities/an-achaemenid-stone-relief-fragment-first-half-4974349-details.aspx (accessed online at 28 December 2014).
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Sources</div>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Gallery</div>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>

  </div>
</div>
