<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p><%= namespace.pluralize %></p>
        </li>
        <li><span class="active"><%= page_title! object.name %></span>
        </li>
      </ul>
      <!-- END BREADCRUMB -->

      <div class="container-md-height m-b-20">
        <div class="row row-md-height">
          <div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">
            <!-- START PANEL -->
            <div class="full-height">
              <div class="panel-body text-center">
                <%= image_tag object.show_image, class: 'image-responsive-height demo-mw-500' %>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
          <div class="col-lg-5 col-md-height col-md-6 col-top">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                <div class="panel-title"><%= namespace.singularize %> Summary
                </div>
              </div>
              <div class="panel-body">
                <h3><%= object.name %></h3>

                <%= object.description %>
                <br>

                <div class="inline m-t-20">

                </div>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->
