<h3>Reset Password</h3>
<p>
  <small>
    Use this page to reset your password. If this is unintended, please go to the <%= link_to 'login page', new_users_session_path %>.
  </small>
</p>

<%= flash_messages %>

<%= form_for @user,
      url: update_users_reset_password_path(token: @token),
      method: :put,
      html: {
        id: 'form-register',
        class: 'p-t-15',
        role: 'form'
      } do |f| %>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group form-group-default">
          <label>Email</label>
          <%= f.text_field :email, class: 'form-control', required: true, disabled: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group form-group-default">
          <label>Password</label>
          <%= f.password_field :password, placeholder: 'Minimum of 8 Characters', class: 'form-control', required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group form-group-default">
          <label>Password Confirmation</label>
          <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
        </div>
      </div>
    </div>

    <%= f.submit 'Reset Password', class: 'btn btn-primary btn-cons m-t-10' %>
<% end %>
