<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" data-pages="sidebar">
  <div id="appMenu" class="sidebar-overlay-slide from-top">
  </div>
  <!-- BEGIN SIDEBAR HEADER -->
  <div class="sidebar-header">
    <%= image_tag 'logo/logo.white.png', alt: 'logo', class: 'brand', width: 40, 'data-src' => image_path('logo/logo.white.png'), 'data-src-retina' => image_path('logo/logo.white@2x.png') %>
    <div class="sidebar-header-controls pull-right">
      <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i></button>
    </div>
  </div>
  <!-- END SIDEBAR HEADER -->
  <!-- BEGIN SIDEBAR MENU -->
  <div class="sidebar-menu">
    <ul class="menu-items">


      <li class="m-t-30 <%= active_link_to_class(root_path, active: :exclusive) %>">
        <%= link_to root_path, class: 'detailed' do %>
          <span class="title">Dashboard</span>
        <% end %>
        <span class="icon-thumbnail"><i class="fa fa-dashboard"></i></span>
      </li>


      <li class="">
        <a href="#" class="detailed">
          <span class="title">Search</span>
        </a>
        <span class="icon-thumbnail"><i class="pg-search"></i></span>
      </li>


      <li class="<%= active_link_to_class(root_path, active: /^\/artifacts|^\/people|^\/places|^\/sources/) %>">
        <a href="javascript:;">
          <span class="title">Explore</span>
          <span class="arrow <%= active_link_to_class(root_path, active: /^\/artifacts|^\/people|^\/places|^\/sources/, class_active: 'open') %>"></span>
        </a>
        <span class="icon-thumbnail "><%= image_tag 'svg/explore.svg', width: 15 %></span>

        <ul class="sub-menu">
          <%= content_tag :li, class: active_link_to_class(artifacts_path) do %>
            <%= link_to 'Artifacts', artifacts_path %>
            <span class="icon-thumbnail"><i class="fa fa-cubes"></i></span>
          <% end %>

          <%= content_tag :li, class: active_link_to_class(people_path) do %>
            <%= link_to 'People', people_path %>
            <span class="icon-thumbnail"><i class="fa fa-users"></i></span>
          <% end %>

          <%= content_tag :li, class: active_link_to_class(places_path) do %>
            <%= link_to 'Places', places_path %>
            <span class="icon-thumbnail"><i class="pg-map"></i></span>
          <% end %>

          <li class="">
            <a href="#">Sources</a>
            <span class="icon-thumbnail"><i class="fa fa-sitemap"></i></span>
          </li>
        </ul>
      </li>


      <li class="">
        <a href="javascript:;">
          <span class="title">Tasks</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-puzzle-piece"></i></span>
      </li>


      <li class="">
        <a href="javascript:;">
          <span class="title">Discussion</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-quote-right"></i></span>
      </li>


      <li class="">
        <a href="#">
          <span class="title">Get Help</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-question-circle"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="#">Guides/Docs</a>
            <span class="icon-thumbnail"><i class="fa fa-file-text-o"></i></span>
          </li>
          <li class="">
            <a href="#">FAQs</a>
            <span class="icon-thumbnail"><i class="fa fa-check-square"></i></span>
          </li>
        </ul>
      </li>


    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
