<%= render  partial: 'shared/show',
            locals: {
              namespace: 'Artifacts',
              object: @artifact
            }
%>

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <div class="row">

    <div class="col-md-7">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Ownership History</div>
          <div class="panel-controls p-t-5 p-r-5">
            <ul>
              <li class="">
                <a href="#" data-placement="left" data-toggle="tooltip" title="Add new event">
                  <i class="fa fa-plus"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel-body">

          <div class="panel panel-group panel-transparent ownership-history-panel" data-toggle="collapse" id="accordion">

            <% @artifact.events.each do |event| %>
              <% cache [@artifact, 'show', event] do %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#<%= event.uuid %>">
                        <div class="row">
                          <div class="col-sm-2" style="width:10%"><strong><%= event.year %></strong></div>
                          <div class="col-sm-10"><%= event.recipient_name %></div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="<%= event.uuid %>">
                    <div class="panel-body">
                      <p class="small hint-text"><%= event.name %></p>
                      <p><%= event.description %></p>
                      <p class="pull-right small"><%= link_to 'See event', event %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>



    <div class="col-md-5">
      <!-- START PANEL -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Details
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td style="width:30%;padding:12px;" class="v-align-middle bold">Names</td>
                  <td style="width:70%;padding:12px;" class="v-align-middle"><%= @artifact.alternate_names %></td>
                </tr>
                <tr>
                  <td style="padding:12px;" class="v-align-middle bold">Artist</td>
                  <td style="padding:12px;" class="v-align-middle"><%= @artifact.artist %></td>
                </tr>
                <tr>
                  <td style="padding:12px;" class="v-align-middle bold">Date Created</td>
                  <td style="padding:12px;" class="v-align-middle"><%= @artifact.date_created %></td>
                </tr>
                <tr>
                  <td style="padding:12px;" class="v-align-middle bold">Dimensions</td>
                  <td style="padding:12px;" class="v-align-middle"><%= @artifact.dimensions %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
  </div>
</div>
<!-- END CONTAINER FLUID -->


<div class="container-fluid container-fixed-lg bg-white">
  <div class="row p-t-15">

    <div class="col-md-6">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Citations</div>
        </div>
        <div class="panel-body">
          <ol>
            <% @artifact.citations_list.each do |citation| %>
              <% cache [@artifact, 'show', citation] do %>
                <li class="small hint-text">
                  <%= citation %>
                </li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Sources</div>
        </div>
        <div class="panel-body">
          <% @artifact.sources.each do |source| %>
            <% cache [@artifact, 'show', 'source', source] do %>
              <div class="col-sm-6">
                <%= link_to source do %>
                  <%= image_tag source.image.index.url, class: 'image-responsive m-b-15' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Gallery</div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% @artifact.photos.each do |source| %>
              <% cache [@artifact, 'show', 'photo', source] do %>
                <div class="col-sm-6">
                  <%= link_to source do %>
                    <%= image_tag source.image.index.url, class: 'image-responsive m-b-15' %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
