<!DOCTYPE html>
<html>

  <head>
    <%= render 'layouts/shared/meta' %>

    <title><%= page_title format: ':title | Antiquarium' %></title>

    <!-- Antiquarium CSS-->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Compatibilities -->
    <%= render 'layouts/shared/compatibilities' %>

    <!-- CSRF -->
    <%= csrf_meta_tags %>
  </head>

  <body class="fixed-header">
    <%= render 'layouts/application/sidebar' %>

    <div class="page-container">
      <%= render 'layouts/application/header' %>

      <div class="page-content-wrapper">
        <div class="content">

          <%= yield %>

        </div>

        <%= render 'layouts/application/footer' %>
      </div>
    </div>

    <%= render 'layouts/application/quickview' %>
    <%= render 'layouts/application/overlay' %>

    <!-- Antiquarium JS -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
