<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/meta' %>

    <title><%= page_title format: ':title | Antiquarium' %></title>

    <!-- Antiquarium CSS-->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Compatibilities -->
    <%= render 'layouts/shared/compatibilities' %>

    <!-- CSRF -->
    <%= csrf_meta_tags %>
  </head>

  <body class="fixed-header">
    <div class="page-container">
      <div class="page-content-wrapper">
        <div class="content">

          <%= yield %>

        </div>

        <%= render 'layouts/application/footer' %>
      </div>
    </div>
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- Antiquarium JS -->
    <%= javascript_include_tag 'unauthenticated' %>
  </body>
</html>
