<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/shared/meta' %>

    <title><%= page_title format: ':title | Antiquarium' %></title>

    <!-- Antiquarium CSS-->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Compatibilities -->
    <%= render 'layouts/shared/compatibilities' %>

    <!-- CSRF -->
    <%= csrf_meta_tags %>
  </head>
  <body class="fixed-header   ">
    <!-- START PAGE-CONTAINER -->
    <div class="login-wrapper ">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Pic-->
        <%= image_tag 'login/login.jpg', class: 'lazy', 'data-src' => image_path('login/login.jpg'), 'data-src-retina' => image_path('login/login.jpg') %>
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">Antiquities Trade Intelligence</h2>
          <p class="small">
            Copyright © 2015 Antiquarium LLC. All rights reserved.
          </p>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <%= image_tag 'antiquarium/antiquarium.png', alt: 'logo', width: '190', 'data-src' => image_path('antiquarium/antiquarium.png'), 'data-src-retina' => image_path('antiquarium/antiquarium@2x.png') %>

          <%= yield %>

        </div>
      </div>
      <!-- END Login Right Container-->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- Antiquarium JS -->
    <%= javascript_include_tag 'unauthenticated' %>

    <script>
      $(function()
      {
        $('#form-login').validate({
          //onfocusout: true,
          onkeyup: false
        })
      })
    </script>
  </body>
</html>
