<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/shared/meta' %>

  <title>Antiquarium</title>

  <!-- Antiquarium CSS-->
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- Compatibilities -->
  <%= render 'layouts/shared/compatibilities' %>

  <!-- CSRF -->
  <%= csrf_meta_tags %>
</head>
<body class="fixed-header   ">
  <div class="register-container full-height sm-p-t-30">
    <div class="container-sm-height full-height">
      <div class="row row-sm-height">
        <div class="col-sm-12 col-sm-height col-middle">
          <%= image_tag 'antiquarium/antiquarium.png', alt: 'logo', width: '190', 'data-src' => image_path('antiquarium/antiquarium.png'), 'data-src-retina' => image_path('antiquarium/antiquarium@2x.png') %>

          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <!-- Antiquarium JS -->
  <%= javascript_include_tag 'unauthenticated' %>

  <script>
    $(function()
    {
      $('#form-register').validate({
        //onfocusout: true,
        onkeyup: false
      })
    })
  </script>
</body>
</html>
